body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
  }

  .btn-primary {
    background-color: #FC7F66;
    border-color: #FC7F66;
}

.navbar-light .navbar-brand {
    color: #FC7F66;
}

page-header {
    color: #FC7F66;
}
