body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("background_pink.png")
  }

div {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.col-md-12 {
  background-color: white;
}

div.well {
  background-color: white;
}

#worldMap {
  height: 50vh;
  width: 60vw;
}