<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musical Insights</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
  

<body>

  <div class="container">
    <div class="row">
    <img src="static/css/banner_multi.png" alt="dashboard banner" class="banner">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h3>Choose a Date to Begin!</h3>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="container">
        <div class="row">
        <div class="col-md">
          <h1> Featured Countries </h1>
          <img src="static/css/map_example.jpeg" alt="example map" class="map">
          <div id="world-map"></div>
        </div>
        <div class="column">
          <h1> Top 10 Artists of the Day </h1>
          <img src="static/css/barchart_ver_1.jpg" alt="example bar" class="bar_chart">
          <div id="bar"></div>
        </div>
        <div class="column">
          <h1> Top 10 Genres of the Day </h1>
          <img src="static/css/Pie-chart.jpg" alt="example pie" class="pie_chart">
          <div id="pieChart"></div>
        </div>
        <div class="row">
          <h1> Danceability of Today's Top Songs </h1>
          <div id="plotbubble"></div>
      </div>
    </div>


   
   

    <!-- <p><b>JSON Music Data here -></b> <a href="/api/v1.0/spotify_music_data" target="_blank"> /api/v1.0/spotify_music_data</a> </p> -->


    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/visualization.js"></script>

    </body>

    </html>
