<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musical Insights</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
  

<body>

  <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Spotify Global Top 50 Songs</h1>
          <p>Use the interactive charts below to explore the dataset</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Date:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="col-md-5">
          <div id="world-map"></div>
        </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="pieChart"></div>
      </div>
    </div>

    <div id="plotbubble"></div>

    <p><b>JSON Music Data here -></b> <a href="/api/v1.0/spotify_music_data" target="_blank"> /api/v1.0/spotify_music_data</a> </p>


    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/visualization.js"></script>

    </body>

    </html>
